# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Jest coverage directory
coverage/

# Ignore Jest cache directory
jest-cache/

# Ignore the output data
scrapedContent.json